html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
}

@font-face {
  font-family: "levibrush";
  src: url("/projects/react-tictactoe/fonts/levibrush.ttf") format("truetype");
}

#content {
}

.ticTacToe {
}

.ticTacToe h1 {
  text-align: center;
  font-family: "levibrush";
  font-size: 90px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.ticTacToe .grid {
  width: 442px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.ticTacToe .grid .field {
  position: absolute;
}

.ticTacToe .grid .field-0 {
  top: 22px;
  left: 10px;
}

.ticTacToe .grid .field-1 {
  top: 22px;
  left: 165px;
}

.ticTacToe .grid .field-2 {
  top: 22px;
  left: 320px;
}

.ticTacToe .grid .field-3 {
  top: 174px;
  left: 10px;
}

.ticTacToe .grid .field-4 {
  top: 174px;
  left: 165px;
}

.ticTacToe .grid .field-5 {
  top: 174px;
  left: 320px;
}

.ticTacToe .grid .field-6 {
  top: 325px;
  left: 10px;
}

.ticTacToe .grid .field-7 {
  top: 325px;
  left: 165px;
}

.ticTacToe .grid .field-8 {
  top: 325px;
  left: 320px;
}

.winnerBar {
  position: absolute;
}

.winningCombination-0 {
  top: 55px;
  left: 0px;
}

.winningCombination-1 {
  top: 202px;
  left: 0px;
}

.winningCombination-2 {
  top: 355px;
  left: 0px;
}

.winningCombination-3 {
  top: 205px;
  left: -155px;
  transform: rotate(270deg);
}

.winningCombination-4 {
  top: 205px;
  left: 0px;
  transform: rotate(270deg);
}

.winningCombination-5 {
  top: 205px;
  left: 155px;
  transform: rotate(270deg);
}

.winningCombination-6 {
  top: 215px;
  left: 10px;
  transform: rotate(225deg);
}

.winningCombination-7 {
  top: 210px;
  left: 0px;
  transform: rotate(315deg);
}

.winningCombination-none {
  visibility: hidden;
}

